.company-result  {
    font-size: 14px;
    white-space: pre-wrap;
    overflow: auto;
    padding: 10px;
    width: 97%;
    height: 93%;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
}

.company-result-tabs {
    height: 50px;
}

.response-sidebar-wrapper {
    width: 30vw;
    margin-top: 50px;
}

.company-result-display {
    width: 70vw;
}

.whole-company-result-wrapper {
    width: 100%;
    display: flex; 
    max-height: 90vh;
}

.company-results-summary {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.highlight {
    background-color: #ffff99;
}

.current-highlight {
    background-color: #ffab03;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100% !important;
    height: 100% !important;
}