header {
    height: 10vh;
    top: 0;
    width: 100%;
}

.toolbar {
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}

.logo {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
    width: 50%;
}

.links {
    display: flex;
    justify-content: center;
    width: 50%;
}

.links > a {
    color: black;
    font-size: 20px;
    margin: 0 10px;
}